@import 'tailwindcss';

:root {
  --background: #ffffff;
    --foreground: #151515;
    --link: #1b2978;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.header-link {
  color: var(--link);
  :hover {
    color: var(--foreground);
  }
}

.hero-section {
  background-color: #F9F9FF;
}

.main-container {
  width: min(100%, 1200px);
  padding-inline: 32px;
}